.about {
  padding-top: 128px;
  padding-bottom: 128px;
  padding: 128px;
  display: grid;
  /*background-color: var(--bg-1);*/
  background: rgba(26, 30, 35, 0.5) url("../../assets/about/bgg.png") center
    center / cover no-repeat;

  background-size: cover;
  position: relative;
}

@media (max-width: 1280px) {
  .about {
    grid-template-columns: 1fr; /* Set to a single column */
    justify-items: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
  }
}

@media (max-width: 860px) {
  .about {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.about__title {
  font-family: Ubuntu;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 112.5% */
  text-transform: capitalize;
  width: 367px;
  border-radius: 40px 0px;
  border: 4px solid var(--Brand-1, #12f7d6);
  background: var(--BG-1, #292f36);
  margin-bottom: 46px;
  text-align: center;

  grid-row-start: 2;
  grid-column-start: 1;
}

@media (max-width: 550px) {
  .about__title {
    font-size: 32px;
    width: 250px;
  }
}

.about__container {
  padding: 24px 40px;
  width: 800px;
  grid-column-start: 1;
  grid-row-start: 3;
  background-color: var(--bg-1);
  border-radius: 40px;
  /*height: 377px;*/
}

@media (max-width: 1280px) {
  .about__container {
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 3;
    grid-row-end: 3;
  }
}

@media (max-width: 920px) {
  .about__container {
    width: 540px;
  }
}

@media (max-width: 620px) {
  .about__container {
    width: 340px;
  }
}

.about__image {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}

@media (max-width: 1280px) {
  .about__image {
    grid-column-start: 1;
    /*grid-column-end: 3;*/
    grid-row-start: 4;
    grid-row-end: 4;
    margin-top: 128px;
  }
}

@media (max-width: 800px) {
  .about__image {
    margin-top: 64px;
  }
}

.about__subtitle {
  font-family: "IBM Plex Mono";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 131.25% */
  text-transform: capitalize;
  color: var(--brand-1);
}

.about__text {
  font-family: "IBM Plex Mono";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-top: 15px;
}
