.contact {
  background-color: var(--bg-1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 768px) {
  .contact {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.contact__title {
  font-family: Ubuntu;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 72px; /* 112.5% */
  text-transform: capitalize;
  color: var(--brand-1);
  text-align: center;
}
.contact__subtitle {
  margin-top: 32px;
  text-align: center;
}

.form__title {
  font-family: "IBM Plex Mono", monospace;
  color: var(--brand-1);
  font-family: IBM Plex Mono;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 131.25% */
  text-transform: capitalize;
  border-radius: 32px 0px;
  border: 2px solid var(--brand-1);
  width: 407px;
  padding: 16px 16px;
  text-align: center;
  margin-top: 102px;

  align-self: center;
  margin-bottom: 64px;
}
