.header {
  padding: 64px 128px;
  font-family: "IBM Plex Mono";
  border-bottom: 1px solid #fff;
}

@media (max-width: 768px) {
  .header {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 500px) {
  .header {
    padding: 32px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__name-container {
  display: flex;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 131.25% */
  text-transform: capitalize;
}

@media (max-width: 940px) {
  .header__name-container {
    font-size: 28px;
  }
}
@media (max-width: 500px) {
  .header__name-container {
    font-size: 16px;
  }
}

.header__tag {
  color: var(--brand-1);
}

.header__name {
  /*color: var(--color);*/
}

.footer__social_list {
  display: flex;
  gap: 32px;
}

@media (max-width: 940px) {
  .footer__social_list {
    gap: 15px;
  }
}

.footer__social_item {
  padding: 8px;
  border-radius: 48px;
  display: flex;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-transform: capitalize;
  gap: 8px;
}

.header__container-links {
  display: flex;
}

.header__pages-link {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  text-transform: capitalize;
  display: flex;
  gap: 32px;
}

@media (max-width: 940px) {
  .header__pages-link {
    font-size: 18px;
    align-self: center;
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .header__pages-link {
    font-size: 16px;
  }
}
